html, body {
    height: 100%;
}

body.landing-page{
    background-image: url("../imgs/bckgrnd1.png");
    background-size:cover;
}

.logo{
    text-align: left;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7,
#div8, #div9, #div10, #div11, #div12, #div13,
#div14, #div15, #div16, #div17, #div18, #div19,
#div20, #div21, #div22, #div23, #div24, #div25,
#div26, #div27{
    float: left;
    width: 135px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
}

#div-main1, #div-main2, #div-main3, #div-main4, #div-main5 {
    float: inside;
    width: 150px;
    height: 45px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
}

.card-body{
    display: block;
    justify-content: center;
}

.card-text{
    justify-items: center;
    align-items: center;
    display: block;
    margin-right: auto;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.answer-box{
    justify-items: center;
    align-items: center;
    display: inline-flex;
    margin-top: 35px;
    margin-bottom: 20px;
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.logo-headline{
    --bs-gutter-x: 0 !important;
}

.btn {
    display: inline-block !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background-color: #E64D2D !important;
    box-shadow: 5px 10px 8px #888888;
}

.container{
    opacity: 0.9;
}
